USE [qlsv]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[tbl_lophoc](
    [id] INT IDENTITY(1,1) NOT NULL,
    [malop] VARCHAR(20) NULL,
    [tenlop] NVARCHAR(100) NULL,
    PRIMARY KEY CLUSTERED ([id] ASC)
)
GO

CREATE TABLE [dbo].[tbl_sinhviens](
    [id] INT NOT NULL,
    [hoten] NVARCHAR(100) NULL,
    [gioitinh] NVARCHAR(10) NULL,
    [ngaysinh] DATE NULL,
    [malop] VARCHAR(20) NULL,
    CONSTRAINT [PK_tbl_sinhviens] PRIMARY KEY CLUSTERED ([id] ASC)
)
GO

ALTER TABLE [dbo].[tbl_lophoc]
ADD CONSTRAINT UQ_tbl_lophoc_malop UNIQUE (malop)
GO

ALTER TABLE [dbo].[tbl_sinhviens]
ADD CONSTRAINT FK_SinhVien_LopHoc
FOREIGN KEY (malop)
REFERENCES [dbo].[tbl_lophoc](malop)
GO
--insert
SET IDENTITY_INSERT tbl_lophoc ON

INSERT INTO tbl_lophoc (id, malop, tenlop, ghichu)
VALUES
(1, 'CNTT03', N'Công nghệ phần mềm', N'Lớp phần mềm'),
(2, 'MMT01', N'Mạng máy tính', N'Lớp mạng'),
(3, 'TKDH01', N'Thiết kế đồ họa', N'Lớp đồ họa'),
(4, 'NN01', N'Ngôn ngữ Anh', N'Lớp tiếng Anh'),
(5, 'MARK01', N'Marketing', N'Lớp marketing')

SET IDENTITY_INSERT tbl_lophoc OFF
GO

INSERT INTO tbl_sinhviens (id, hoten, gioitinh, ngaysinh, malop)
VALUES
(1, N'Phan Quốc Bảo', N'Nam', '2005-02-11', 'CNTT03'),
(2, N'Nguyễn Thảo Vy', N'Nữ', '2005-06-21', 'MMT01'),
(3, N'Trịnh Minh Khang', N'Nam', '2004-12-01', 'TKDH01'),
(4, N'Lê Mỹ Tiên', N'Nữ', '2005-08-19', 'NN01'),
(5, N'Đỗ Gia Huy', N'Nam', '2004-03-30', 'MARK01'),
(6, N'Bùi Khánh Linh', N'Nữ', '2005-09-14', 'CNTT03'),
(7, N'Võ Hoàng Nam', N'Nam', '2005-01-05', 'MMT01')
GO